[submodule "modules/wordvectors"]
	path = modules/wordvectors
	url = https://github.com/fcoclavero/wordvectors
[submodule "modules/textpreprocess"]
	path = modules/textpreprocess
	url = https://github.com/fcoclavero/textpreprocess
