adabound>=0.0.5
black>=19.3
click>=7.1
flake8>=3.8
gradient>=0.9
guild>=1.1
ignite>=0.4
isort>=4.3
matplotlib>=3.2
multipledispatch>=0.6
numpy>=1.18
overrides>=3.1
pandas>=1.0
pillow>=7.1
plotly>=4.8
pylint>=2.5
pytest>=5.4
pytest-arraydiff==0.3
python-dotenv>=0.13
pytorch>=1.5
pyyaml>=5.3
scikit-learn>=0.23
tensorboard>=2.2
torch-cluster>=1.5
torch-geometric>=1.5
torch-scatter>=2.0
torch-sparse>=0.6
torch-spline-conv>=1.2
torchvision>=0.6
tqdm>=4.39
